.cardContainer {
    padding-left: 5%;
}

.card :hover {
    background-color: white;
}

.radiobox :hover {
    background-color: #89d2fc;
}

.response {
    padding-left: 5%;
    padding-top: 50px;
}

#workout-plan {
    visibility: hidden;
}

#message {
    list-style-type: none;
    font-size: large;
}

@media screen and (max-width: 700px) {
    .response, .cardContainer {
        padding-left: 10%;
    }
  }

.cardContainer label{ 
    color: black; 
}

.cardContainer h2, .response {
    color: rgb(196, 196, 196); 
}