.cardContainer {
    padding-left: 34%;
}


.card :hover {
    background-color: white;
}

.radiobox :hover {
    background-color: #89d2fc;
}

.response {
    padding-left: 33%;
    padding-top: 50px;
}

#workout-plan {
    visibility: hidden;
}

#message {
    list-style-type: none;
    font-size: large;
}

@media screen and (max-width: 700px) {
    .response, .cardContainer {
        padding-left: 10%;
    }
  }